@using Microsoft.AspNetCore.Identity
@using OnlineVoting.Data.Static
@inject UserManager<ApplicationUser> UserManager;

@if(!User.Identity.IsAuthenticated){
    
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="LogIn">
    <i class="bi bi-box-arrow-in-right"> </i> LogIn 
    </a>
    <span style="padding:5px"></span>
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"> </i> Register 
    </a>
}
else
{
    if (User.IsInRole(UserRoles.Voter))
    {
        <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Voter" asp-action="VoterRegister">
        <i class="bi bi-clipboard-check-fill"> </i> Register For Election
        </a>
        <span style="padding:0px 5px"></span>
    }
    else
    {
        <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Voter" asp-action="VotersToBeVerified">
        <i class="bi bi-clipboard-check-fill"> </i> Voters To Be Verified
        </a>
        <span style="padding:0px 5px"></span>
    }
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello, @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <div>
                    <form asp-controller="Account" asp-action="LogOut">
                        <button class="btn btn-outline-danger">
                             <div>
                               <i class="bi bi-box-arrow-right"></i> LogOut
                             </div>
                        </button>
                    </form>
                </div>
                
            </li>
        </ul>
    </div>
    
}
