@using OnlineVoting.Data.Static
@using OnlineVoting.Data.ViewModel;
@model RegisterVM;

@{
	ViewData["Title"] = "Register for new account";
}

<div class="row">
	<div class="col float-left">
		<div>
			<h1 class="text-success">Welcome To Online Voting</h1>
		</div>
		
		<div class="row">
			<div class="col">

			</div>
			<div class="col-auto">
					<a class="btn btn-outline-success mx-auto" style="width: 200px;" asp-controller="Account" asp-action="AdminRegister">Register for Election Admin</a>
				
			</div>
			<div class="col">

			</div>
		</div>
		
	</div>
	<div class="col">
		<p>
			<h4>Register for new account</h4>
		</p>
		@if(TempData["Error"] != null)
		{
			<div class="col-md-12 alert alert-danger">
				<span><b>Sorry!</b> @TempData["Error"]</span>
			</div>
		}
		<div class="row">
			<div class="col-auto align-content-center">
				<form asp-action="Register">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="FirstName" class="control-label"></label>
								<input asp-for="FirstName" class="form-control" />
								<span asp-validation-for="FirstName" class="text-danger"> </span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="LastName" class="control-label"></label>
								<input asp-for="LastName" class="form-control" />
								<span asp-validation-for="LastName" class="text-danger"> </span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label asp-for="UserName" class="control-label"></label>
						<input asp-for="UserName" class="form-control" />
						<span asp-validation-for="UserName" class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label asp-for="EmailAddress" class="control-label"></label>
						<input asp-for="EmailAddress" class="form-control" />
						<span asp-validation-for="EmailAddress" class="text-danger"> </span>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Password" class="control-label"></label>
								<input asp-for="Password" class="form-control" />
								<span asp-validation-for="Password" class="text-danger"> </span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="ConfirmPassword" class="control-label"></label>
								<input asp-for="ConfirmPassword" class="form-control" />
								<span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
							</div>
						</div>
					</div>
					<input hidden asp-for="Role" value="@UserRoles.Voter" />
					<div class="form-group">
						<input type="submit" value="Register" class="btn btn-outline-success float-right" />
						<a class="btn btn-outline-secondary" asp-controller="Election" asp-action="Index">Cancel</a>
					</div>

				</form>
				<div class="row">
					<div class="col">

					</div>
					<div class="col-auto">
						<a class="text-success mx-auto" style="width: 200px;" asp-controller="Account" asp-action="LogIn">Already Have an Account</a>
					</div>
					<div class="col">

					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>