
<a asp-action="Update" asp-route-id="Id"><i class="bi bi-pencil-square"></i></a> |
<a asp-action="Details" asp-route-id="Id"><i class="bi bi-info-square-fill"></i></a> |
<a asp-action="Remove" asp-route-id="Id"><i class="bi bi-trash-fill"></i></a>