@model OnlineVoting.Models.VoterRegistration

@{
    ViewData["Title"] = "VoterRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VoterRegister</h1>

<h4>VoterRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VoterRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UniqueId" class="control-label"></label>
                <input asp-for="UniqueId" class="form-control" />
                <span asp-validation-for="UniqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectionId" class="control-label"></label>
                <input asp-for="ElectionId" class ="form-control" />
                <span asp-validation-for="UniqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

