@model VoterRegistration




<h1>VoterRegistration</h1>

<hr />
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b>- @TempData["Error"]</span>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="VoterRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ElectionId" class="control-label"></label>
                <input asp-for="ElectionId" class="form-control" />
                <span asp-validation-for="ElectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniqueId" class="control-label"></label>
                <input asp-for="UniqueId" class="form-control" />
                <span asp-validation-for="UniqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Election" asp-action="Index">Back to List</a>
</div>