@model OnlineVoting.Models.Policy

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>Policy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PolicyTitle" class="control-label"></label>
                <input asp-for="PolicyTitle" class="form-control" />
                <span asp-validation-for="PolicyTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyDescription" class="control-label"></label>
                <input asp-for="PolicyDescription" class="form-control" />
                <span asp-validation-for="PolicyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="ElectionId" class ="form-control" hidden ><option>@ViewBag.ElectionId</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.ElectionId">Back to List</a>
</div>

