@model OnlineVoting.Models.Candidate

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>Candidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CandidateIcon" class="control-label"></label>
                <input asp-for="CandidateIcon" class="form-control" />
                <span asp-validation-for="CandidateIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateName" class="control-label"></label>
                <input asp-for="CandidateName" class="form-control" />
                <span asp-validation-for="CandidateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId" hidden></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.PositionId">Back to List</a>
</div>

