@model Election

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.ElectionName)</h1>
<div>@Model.Positions</div>

@*@foreach(Position p in Model.Positions)
{
    <h4>@p.PositionTitle</h4>
    @foreach(Candidate c in p.Candidates)
    {
        <p>aaa</p>
    }
}*@






